html, body {
  width: 100vw;
  height: 100vh;
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
}

.book-sheet {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
  transition: transform ease-out .3s;

  &--no-animation {
    transition: none;
  }

  &__page {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__content {
    position: relative;
    float: right;
    height: 100%;
    padding: 1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    -webkit-text-orientation: upright;
    text-orientation: upright;
    line-break: strict;
    box-sizing: border-box;

    .illust {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(100vw - 2em);
      height: calc(100vh - 2em);

      img {
        display: block;
        width: auto;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }

    hr {
      border: 0;
      border-left: 1px solid #000;
      height: 100%;
      margin: 0 2em;

      &.border-comment {
        border-left: 4px double #000;
      }
    }

    em {
      font-style: normal;
      -webkit-text-emphasis-style: sesame filled;
      -moz-text-emphasis-style: sesame filled;
      text-emphasis-style: sesame filled;
    }

    .sideways {
      text-orientation: sideways;
    }

    .combine {
      text-combine-upright: all;
    }
  }
}

.reader {
  padding: 0;
  font-family: ipam;

  &__container {
    padding: 1em 0;
    overflow-x: hidden;
  }

  &__body {
    position: relative;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    -webkit-text-orientation: upright;
    text-orientation: upright;
  }
}
